doctype html
html
    head
        title to do list
        linke(href ='styles/style.css',rel='stylesheet')
        meta(name='viewport',content='width=device-width,initial-scale=1')
    body
    .app
        header
            img(src='images/logo.png')
            h1 To do
        form#task-form
            input#task-input(type='text',placeholder='add a task')
            button#task-add(type='submit') Add
        main
            ul#task-list
                li Buy WaterMelon
                li Finish Assignments
                li Watch Fast And Furious
        footer
    