doctype html
html
    head
        title To Do List
        linke(href ='styles/style.css',rel='stylesheet')
        meta(name='viewport',content='width=device-width,initial-scale=1')
    body
    .app
        header
            img(src='images/logo.png')
            h1 To do
        form#task-form
            input#task-input(type='text',placeholder='add a task')
            button#task-add(type='submit') New
        main
            ul#task-list
            ul#task-list-done

        footer
        script(src='./js/main.js')
